@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600&family=Playfair+Display:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app {
    height: 100%;
    /* background: rgb(2,0,36); */
    /* background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,33,71,1) 35%, rgba(28,40,65,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,33,71,1) 35%, rgba(28,40,65,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,33,71,1) 35%, rgba(28,40,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#1c2841",GradientType=1); */
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,33,71,1) 35%, rgba(28,40,65,1) 100%); */
    background: rgb(0,0,0);
/* background: -moz-linear-gradient(153deg, rgba(0,0,0,1) 0%, rgba(0,33,71,1) 51%, rgba(28,40,65,1) 100%);
background: -webkit-linear-gradient(153deg, rgba(0,0,0,1) 0%, rgba(0,33,71,1) 51%, rgba(28,40,65,1) 100%);
background: linear-gradient(153deg, rgba(0,0,0,1) 0%, rgba(0,33,71,1) 51%, rgba(28,40,65,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#1c2841",GradientType=1); */
    @apply text-white;
}